<div class="jumbotron">
  <h1>Bienvenido a estuk -.-</h1>
  <p>venta de libros</p>
  <%= link_to 'Books', '#', class: 'btn btn-primary btn-block' %>
  <%= link_to 'Registro', new_user_registration_path, class: 'btn btn-primary btn-block' %>
</div>
